/uploads/excel_sheet/*
!/uploads/excel_sheet/.gitkeep

/uploads/expense_image/*
!/uploads/expense_image/.gitkeep

/uploads/id_card_img/*
!/uploads/id_card_img/.gitkeep


/uploads/income_image/*
!/uploads/income_image/.gitkeep

/uploads/student_image/*
!/uploads/student_image/.gitkeep

/uploads/teacher_document/*
!/uploads/teacher_document/.gitkeep

/uploads/teacher_image/*
!/uploads/teacher_image/.gitkeep